.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 100;
    .logo h1{
       padding: 20px;
    }
    .nav-menu{
        display: flex;
        li{
            margin: 20px;
            padding: 20px;
            list-style: none;
            &:hover{
                background-color: red;
                border-radius: 20px;
            }
            a{
                color: #fff;
                font-size: 25px;
                font-weight: 500;
            }
        }
    }
    .hamburger{
        display: none;
        padding-right: 20px;
    }
}
.Header.Header-bg{
    background-color: rgba($color: #000000, $alpha: 0.85);
}
@media screen and (max-width:650px) {
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        z-index: -3;
        background-color: rgba($color: #000000, $alpha: 0.9);
        transition: 0.5s;
        li{
           padding: 20px 0px;
           a{
                font-size: 30px !important;
           }
        }
    }
    .nav-menu.active{
        left: 0;
    }
    .Header .hamburger{
        display: initial;
    }
}

